[Unit]
Description=Adressable led strip controller
Requires=mosquitto.service
After=mosquitto.service

[Service]
Type=simple
Restart=always
ExecStart=led-strip -n 120

[Install]
WantedBy=multi-user.target
